
    <title>Hotel My Estancia</title>
    <!-- Encabezado -->
    <header class="bg-dark text-light text-center py-5">
        <h1>Hotel Mi Frali</h1>
        <p>Un lugar para relajarse y disfrutar</p>
    </header>

    <!-- Sección de Bienvenida -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Bienvenido a nuestro hotel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida justo nec elit ullamcorper, eu tristique odio posuere.</p>
                <a href="#" class="btn btn-primary">Ver Habitaciones</a>
            </div>
            <div class="col-md-6">
                <img src="./" alt="Hotel " class="img-fluid">
            </div>
        </div>
    </section>

    <!-- Sección de Servicios -->
    <section class="bg-light text-center py-5">
        <div class="container">
            <h2>Nuestros Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <i class="bi bi-wifi h1"></i>
                    <h3>Conexión Wi-Fi</h3>
                    <p>Disfruta de conexión a Internet de alta velocidad en todo el hotel.</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-restaurant h1"></i>
                    <h3>Restaurante</h3>
                    <p>Prueba nuestros deliciosos platos en nuestro restaurante de clase mundial.</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-swimming h1"></i>
                    <h3>Piscina</h3>
                    <p>Relájate en nuestra piscina al aire libre con vistas panorámicas.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Pie de Página -->
    <footer class="bg-dark text-light text-center py-3">
        <p>&copy; 2023 Hotel My Frali</p>
    </footer>
