
    <title>Hotel My Estancia</title>
    <!-- Encabezado -->
    <header class="bg-dark text-light text-center py-5">

        <h1>Hotel My Frali</h1>
        <p>Un lugar para relajarse y disfrutar</p>
    </header>

    <!-- Sección de Bienvenida -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Bienvenido a nuestro hotel</h2>
            <p>¡Bienvenidos a Mi Frali, su refugio a orillas del mar! Nos llena de alegría darles la 
                bienvenida a nuestro encantador hotel con vistas al mar. En Mi Frali, hemos creado
                un espacio donde la serenidad del mar se combina con el confort de un hogar lejos de casa.
                Cada una de nuestras habitaciones está meticulosamente diseñada para proporcionarle una
                experiencia de alojamiento excepcional, mientras que nuestros servicios y comodidades
                están diseñados para asegurarse de que su estadía sea inolvidable. Disfruten de las
                impresionantes vistas al mar, relájense en nuestras instalaciones y descubran la
                gastronomía local en nuestro restaurante. Estamos emocionados de ser 
                parte de sus momentos especiales aquí en Mi Frali.</p>
                <a href="#" class="btn btn-primary">Ver Habitaciones</a>
            </div>
            <div class="col-md-6">
                <img src="./img/hotel1.jpg" alt="Hotel " class="img-fluid">
            </div>
        </div>
    </section>

    <!-- Sección de Servicios -->
    <section class="bg-light text-center py-5">
        <div class="container">
            <h2>Nuestros Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <i class="bi bi-wifi h1"></i>
                    <h3>Conexión Wi-Fi</h3>
                    <p>Disfruta de conexión a Internet de alta velocidad en todo el hotel.</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-restaurant h1"></i>
                    <h3>Restaurante</h3>
                    <p>Prueba nuestros deliciosos platos en nuestro restaurante.</p>
                </div>
                <div class="col-md-4">
                    <i class="bi bi-swimming h1"></i>
                    <h3>Piscina</h3>
                    <p>Relájate en nuestra piscina al aire libre con vistas panorámicas.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Pie de Página -->
    <footer class="bg-dark text-light text-center py-3">
        <p>&copy; 2023 Hotel My Frali</p>
    </footer>
