@using ESFE.Reserva.BL.DTO
@model List<HabitacionDTO>

<h1>Habitaciones Disponibles</h1>

<div class="row">
    @foreach (var habitacion in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div id="carousel-@habitacion.IdHabitacion" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="imagen1.jpg" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="carousel-item">
                            <img src="imagen2.jpg" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="carousel-item">
                            <img src="imagen3.jpg" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-@habitacion.IdHabitacion" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-@habitacion.IdHabitacion" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Habitación @habitacion.NumeroHabitacion</h5>
                    <p class="card-text">Tipo: @habitacion.Tipo.Nombre</p>
                    <a href="@Url.Action("Detalles", "Habitaciones", new { id = habitacion.IdHabitacion })" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
    }
</div>
